<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
  <h1>Flask-SSE Quickstart</h1>
  <input id="channel_ID" type="text" value="12344">
  <button onclick="updateChannelID()">channel</button>

  <script>
 
    var source = new EventSource("{{ url_for('sse.stream', channel='') }}");
    var broadcastsource = new EventSource("{{ url_for('sse.stream') }}");

    function updateChannelID() {
      var ChannelID = document.getElementById("channel_ID").value;
      console.log(ChannelID)
      
      source1 = new EventSource("http://127.0.0.1:8000/stream?channel="+ChannelID);
      source1.addEventListener('greeting2', function(event) {
        var data = event.data;
        data = JSON.parse(data)
        console.log(data)
        alert("The server says " + data.message);
        console.log(event)
        
    }, false);
    source1.addEventListener('error', function(event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);
      console.log(source)
    }
    
   
    broadcastsource.addEventListener('postmessage', function(event) {
        var data = event.data;
        data = JSON.parse(data)
        // console.log(data)
        alert("broadcast " + data.message);
        console.log(event)
        broadcastsource.close();
    }, false);

   

  </script>
</body>
</html>